@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: Lemon;
    src: url(../public/Font/Lemon-Regular.ttf);
  }

  @font-face {
    font-family: Vazir;
    src: url(../public/Font/Vazir.ttf);
  }

  @font-face {
    font-family: Soofee;
    src: url(../public/Font/W_soofee.ttf);
  }

  ::-webkit-scrollbar {
    width: 15px;
  }

  ::-webkit-scrollbar-track {
    @apply dark:bg-slate-800 bg-white lg:hidden
  }

  ::-webkit-scrollbar-track-piece {
    margin: 6rem 0;
  }

  ::-webkit-scrollbar-thumb {
    @apply bg-sky-300 transition-colors hover:bg-sky-400 rounded-full border-[5px] border-white border-solid dark:border-slate-800 dark:bg-white dark:hover:bg-sky-300
  }

  body {
    @apply dark:bg-slate-800 transition-colors
  }
}




/* custome class */
@layer components {
  .btn {
    @apply rounded-2xl text-lg text-white bg-gradient-to-tr from-sky-600 to-sky-700 py-2 px-4
  }

  .headerStyle {
    @apply flex gap-8 items-center
  }

  .scrolledNavbar {
    @apply py-4 px-10 text-xl opacity-0
  }

  .navbar {
    @apply py-4 px-10 text-xl dark:text-white text-sky-800
  }

  .navbarFixed {
    @apply bg-white fixed -top-40 -translate-x-1/2 left-1/2 w-0
  }

  .scrolledNavbarFixed {
    @apply w-[90%] py-1 lg:py-4 px-4 text-xl text-sky-800 bg-white fixed top-3 -translate-x-1/2 left-1/2 rounded-xl shadow-2xl container z-50 transition-all duration-300
  }

  .scrolledNavbarFixed .color {
    @apply text-sky-600 dark:text-sky-800 transition-all
  }

  .navbar .color {
    @apply text-sky-600 dark:text-white transition-all
  }

  .shadow-cs {
    box-shadow: 0 3px 26px rgba(0, 0, 0, 0.1);
  }

  .shadow-css {
    box-shadow: 0 3px 26px rgba(0, 0, 0, 0.4);
  }

  .bg-glass {
    background: rgba(255, 255, 255, 0.25);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border: 1px solid rgba(255, 255, 255, 0.18);
  }

  .bg-dark-glass {
    background: rgba(0, 0, 0, 0.25);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border: 1px solid rgba(255, 255, 255, 0.18);
  }

  .loader {
    width: 4px;
    aspect-ratio: 1;
    border-radius: 50%;
    box-shadow: 19px 0 0 7px, 38px 0 0 3px, 57px 0 0 0;
    transform: translateX(-38px);
    animation: l21 .7s infinite alternate linear;
  }

  @keyframes l21 {
    50% {
      box-shadow: 19px 0 0 3px, 38px 0 0 7px, 57px 0 0 3px
    }

    100% {
      box-shadow: 19px 0 0 0, 38px 0 0 3px, 57px 0 0 7px
    }
  }

  .bg-vije {
    @apply md:bg-[url('../public/Imgs/vije4.png')] bg-[url('../public/Imgs/vije1.png')] bg-cover lg:mt-12 mt-6 rounded-2xl mx-auto w-[82vw]
  }

  .gr1 {
    background: hsla(217, 94%, 69%, 1);
    background: linear-gradient(135deg, hsla(217, 94%, 69%, 1) 0%, hsla(186, 100%, 69%, 1) 100%);
    background: -moz-linear-gradient(135deg, hsla(217, 94%, 69%, 1) 0%, hsla(186, 100%, 69%, 1) 100%);
    background: -webkit-linear-gradient(135deg, hsla(217, 94%, 69%, 1) 0%, hsla(186, 100%, 69%, 1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr="#649DFA", endColorstr="#60efff", GradientType=1);
  }

  .gr11 {
    background: hsla(217, 94%, 69%, 0.4);
    background: linear-gradient(135deg, hsla(217, 94%, 69%, 0.4) 0%, hsla(186, 100%, 69%, 0.4) 100%);
    background: -moz-linear-gradient(135deg, hsla(217, 94%, 69%, 0.4) 0%, hsla(186, 100%, 69%, 0.4) 100%);
    background: -webkit-linear-gradient(135deg, hsla(217, 94%, 69%, 0.4) 0%, hsla(186, 100%, 69%, 0.4) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr="#649DFA", endColorstr="#60efff", GradientType=1);
  }

  .gr2 {
    background: hsla(152, 97%, 76%, 1);
    background: linear-gradient(135deg, hsla(152, 97%, 76%, 1) 0%, hsla(186, 100%, 69%, 1) 100%);
    background: -moz-linear-gradient(135deg, hsla(152, 97%, 76%, 1) 0%, hsla(186, 100%, 69%, 1) 100%);
    background: -webkit-linear-gradient(135deg, hsla(152, 97%, 76%, 1) 0%, hsla(186, 100%, 69%, 1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr="#89FDC7", endColorstr="#60efff", GradientType=1);
  }

  .gr22 {
    background: hsla(152, 97%, 76%, 0.4);
    background: linear-gradient(135deg, hsla(152, 97%, 76%, 0.4) 0%, hsla(186, 100%, 69%, 0.4) 100%);
    background: -moz-linear-gradient(135deg, hsla(152, 97%, 76%, 0.4) 0%, hsla(186, 100%, 69%, 0.4) 100%);
    background: -webkit-linear-gradient(135deg, hsla(152, 97%, 76%, 0.4) 0%, hsla(186, 100%, 69%, 0.4) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr="#89FDC7", endColorstr="#60efff", GradientType=1);
  }

  .gr3 {
    background: hsla(58, 100%, 68%, 1);
    background: linear-gradient(135deg, hsla(58, 100%, 68%, 1) 0%, hsla(186, 100%, 69%, 1) 100%);
    background: -moz-linear-gradient(135deg, hsla(58, 100%, 68%, 1) 0%, hsla(186, 100%, 69%, 1) 100%);
    background: -webkit-linear-gradient(135deg, hsla(58, 100%, 68%, 1) 0%, hsla(186, 100%, 69%, 1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr="#ff930f", endColorstr="#fff95b", GradientType=1);
  }

  .gr33 {
    background: hsla(58, 100%, 68%, 0.4);
    background: linear-gradient(135deg, hsla(58, 100%, 68%, 0.4) 0%, hsla(186, 100%, 69%, 0.4) 100%);
    background: -moz-linear-gradient(135deg, hsla(58, 100%, 68%, 0.4) 0%, hsla(186, 100%, 69%, 0.4) 100%);
    background: -webkit-linear-gradient(135deg, hsla(58, 100%, 68%, 0.4) 0%, hsla(186, 100%, 69%, 0.4) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr="#ff930f", endColorstr="#fff95b", GradientType=1);
  }

  .gr4 {
    background: hsla(274, 100%, 70%, 1);
    background: linear-gradient(135deg, hsla(274, 100%, 70%, 1) 0%, hsla(186, 100%, 69%, 1) 100%);
    background: -moz-linear-gradient(135deg, hsla(274, 100%, 70%, 1) 0%, hsla(186, 100%, 69%, 1) 100%);
    background: -webkit-linear-gradient(135deg, hsla(274, 100%, 70%, 1) 0%, hsla(186, 100%, 69%, 1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr="#BD66FF", endColorstr="#60efff", GradientType=1);
  }

  .gr44 {
    background: hsla(274, 100%, 70%, 0.4);
    background: linear-gradient(135deg, hsla(274, 100%, 70%, 0.4) 0%, hsla(186, 100%, 69%, 0.4) 100%);
    background: -moz-linear-gradient(135deg, hsla(274, 100%, 70%, 0.4) 0%, hsla(186, 100%, 69%, 0.4) 100%);
    background: -webkit-linear-gradient(135deg, hsla(274, 100%, 70%, 0.4) 0%, hsla(186, 100%, 69%, 0.4) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr="#BD66FF", endColorstr="#60efff", GradientType=1);
  }
}